In [8]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
import pandas as pd
pd.set_option("display.max_columns",None)

In [2]:
data =pd.read_csv("PCA_Dataset.csv")

In [9]:
data.head(1)

,Gender,Marital_Status,Education_Level,Employment_Status,Region,Housing_Type,Vehicle_Ownership,Internet_Access,Health_Insurance,Smoker_Status,Age,Annual_Income,Credit_Score,Monthly_Expenses,Loan_Amount,Savings_Amount,Debt_To_Income_Ratio,Years_of_Education,BMI,Exercise_Hours_Per_Week,Sleep_Hours_Per_Night,Alcohol_Units_Per_Week,Caffeine_Intake_mg,Daily_Steps,Screen_Time_Hours,Cholesterol_Level,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Heart_Rate,Medical_Visits_Per_Year,Travel_Frequency,Work_Hours_Per_Week,Commute_Time_Minutes,Social_Interactions_Per_Week,Reading_Hours_Per_Week,TV_Hours_Per_Week,Phone_Usage_Hours_Per_Day,Water_Intake_Liters,Calorie_Intake,Protein_Intake_grams,Car_Ownership_Years,Home_Size_sqft,Number_of_Children,Pets_Owned,Volunteer_Hours_Per_Month,Internet_Usage_Hours,Online_Purchases_Per_Month,Tech_Gadgets_Owned,Travel_Abroad_Times,Languages_Spoken,Health_Risk_Category
0,Other,Divorced,Master,Employed,South,Owned,No,Yes,Private,Regular,105.900481,82.900716,72.753088,67.737939,103.030219,142.461925,20.625547,49.737672,32.030301,25.296645,124.151671,23.862776,82.32667,73.680309,78.08596,23.21883,56.312309,57.691404,44.620439,79.286423,70.265971,50.290561,40.921936,23.223246,41.711964,34.473316,57.441474,84.854007,96.949635,72.933274,41.982734,46.680696,85.335972,38.661181,77.698033,61.651405,64.893245,93.083015,105.426868,89.959878,1

In [4]:
data_encoded = pd.get_dummies(data.select_dtypes(include="object"),drop_first=True)

In [6]:
data_encoded = data_encoded.astype("int64")

In [7]:
data_encoded.head(1)

,Gender_Male,Gender_Other,Marital_Status_Married,Marital_Status_Single,Marital_Status_Widowed,Education_Level_High School,Education_Level_Master,Education_Level_PhD,Employment_Status_Self-Employed,Employment_Status_Student,...,Region_South,Region_West,Housing_Type_Other,Housing_Type_Owned,Housing_Type_Rented,Vehicle_Ownership_Yes,Internet_Access_Yes,Health_Insurance_Public,Smoker_Status_Occasional,Smoker_Status_Regular
0,0,1,0,0,0,0,1,0,0,0,...,1,0,0,1,0,0,1,0,0,1

In [10]:
drop_col = data.select_dtypes(include="object")

In [11]:
data.drop(drop_col,axis=1,inplace=True)

In [12]:
data= pd.concat([data_encoded,data],axis=1)

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 63 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Gender_Male                      10000 non-null  int64
 1   Gender_Other                     10000 non-null  int64
 2   Marital_Status_Married           10000 non-null  int64
 3   Marital_Status_Single            10000 non-null  int64
 4   Marital_Status_Widowed           10000 non-null  int64
 5   Education_Level_High School      10000 non-null  int64
 6   Education_Level_Master           10000 non-null  int64
 7   Education_Level_PhD              10000 non-null  int64
 8   Employment_Status_Self-Employed  10000 non-null  int64
 9   Employment_Status_Student        10000 non-null  int64
 10  Employment_Status_Unemployed     10000 non-null  int64
 11  Region_North                     10000 non-null  int64
 12  Region_South                     10000 non-null  int64
 13  Region_West                      10000 non-null  int64
 14  Housing_Type_Other               10000 non-null  int64
 15  Housing_Type_Owned               10000 non-null  int64
 16  Housing_Type_Rented              10000 non-null  int64
 17  Vehicle_Ownership_Yes            10000 non-null  int64
 18  Internet_Access_Yes              10000 non-null  int64
 19  Health_Insurance_Public          10000 non-null  int64
 20  Smoker_Status_Occasional         10000 non-null  int64
 21  Smoker_Status_Regular            10000 non-null  int64
 22  Age                              10000 non-null  float64
 23  Annual_Income                    10000 non-null  float64
 24  Credit_Score                     10000 non-null  float64
 25  Monthly_Expenses                 10000 non-null  float64
 26  Loan_Amount                      10000 non-null  float64
 27  Savings_Amount                   10000 non-null  float64
 28  Debt_To_Income_Ratio             10000 non-null  float64
 29  Years_of_Education               10000 non-null  float64
 30  BMI                              10000 non-null  float64
 31  Exercise_Hours_Per_Week          10000 non-null  float64
 32  Sleep_Hours_Per_Night            10000 non-null  float64
 33  Alcohol_Units_Per_Week           10000 non-null  float64
 34  Caffeine_Intake_mg               10000 non-null  float64
 35  Daily_Steps                      10000 non-null  float64
 36  Screen_Time_Hours                10000 non-null  float64
 37  Cholesterol_Level                10000 non-null  float64
 38  Blood_Pressure_Systolic          10000 non-null  float64
 39  Blood_Pressure_Diastolic         10000 non-null  float64
 40  Heart_Rate                       10000 non-null  float64
 41  Medical_Visits_Per_Year          10000 non-null  float64
 42  Travel_Frequency                 10000 non-null  float64
 43  Work_Hours_Per_Week              10000 non-null  float64
 44  Commute_Time_Minutes             10000 non-null  float64
 45  Social_Interactions_Per_Week     10000 non-null  float64
 46  Reading_Hours_Per_Week           10000 non-null  float64
 47  TV_Hours_Per_Week                10000 non-null  float64
 48  Phone_Usage_Hours_Per_Day        10000 non-null  float64
 49  Water_Intake_Liters              10000 non-null  float64
 50  Calorie_Intake                   10000 non-null  float64
 51  Protein_Intake_grams             10000 non-null  float64
 52  Car_Ownership_Years              10000 non-null  float64
 53  Home_Size_sqft                   10000 non-null  float64
 54  Number_of_Children               10000 non-null  float64
 55  Pets_Owned                       10000 non-null  float64
 56  Volunteer_Hours_Per_Month        10000 non-null  float64
 57  Internet_Usage_Hours             10000 non-null  float64
 58  Online_Purchases_Per_Month       10000 non-null  float64
 59  Tech_Gadgets_Owned               10000 non-null  float64
 60  Travel_Abroad_Times              10000 non-null  float64
 61  Languages_Spoken                 10000 non-null  float64
 62  Health_Risk_Category             10000 non-null  int64
dtypes: float64(40), int64(23)
memory usage: 4.8 MB

In [14]:
s = StandardScaler()

In [15]:
data = s.fit_transform(data)

In [16]:
pca = PCA(n_components=0.95)

In [17]:
data = pca.fit_transform(data)

In [18]:
data

array([[ 0.77877763, -2.18419432, -0.39006259, ...,  0.57373325,
        -0.04141261,  1.36776455],
       [ 2.07920129,  0.41951205,  1.16233936, ...,  0.20065999,
         1.07526799, -0.2001846 ],
       [-0.18075113, -2.16289311, -0.60508163, ..., -0.95048542,
         0.43116743, -0.97744751],
       ...,
       [-0.80016916,  0.27691162,  1.26140077, ...,  0.68765615,
         1.78699285,  1.1448251 ],
       [-0.3625447 ,  0.01651501,  1.772797  , ..., -0.72811941,
        -0.6240936 , -0.94258957],
       [ 0.39803388, -2.71583087, -1.1190905 , ..., -1.61638948,
         0.59380133,  0.43968388]])

In [ ]:
#63 --->55

In [19]:
data = pd.DataFrame(data, columns=[f'PC{i+1}' for i in range(data.shape[1])])

In [20]:
data.head(1)

,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,PC10,PC11,PC12,PC13,PC14,PC15,PC16,PC17,PC18,PC19,PC20,PC21,PC22,PC23,PC24,PC25,PC26,PC27,PC28,PC29,PC30,PC31,PC32,PC33,PC34,PC35,PC36,PC37,PC38,PC39,PC40,PC41,PC42,PC43,PC44,PC45,PC46,PC47,PC48,PC49,PC50,PC51,PC52,PC53,PC54,PC55
0,0.778778,-2.184194,-0.390063,-2.037787,1.243915,0.443859,-0.600892,-1.528241,0.553121,0.462197,0.624369,-1.266858,0.959989,-0.80599,-0.253904,0.209848,0.075333,1.762506,1.043533,-1.94614,0.401021,-1.636154,0.130812,0.051925,-1.462685,-1.272296,-0.946915,-2.5489,-1.36947,2.212974,0.102559,-0.24408,-0.608278,-1.266718,1.283196,0.463165,-1.828744,-0.751051,-0.703364,-0.227066,1.345831,2.208307,0.033272,-0.932694,0.586155,-0.460304,-0.051077,0.398976,0.578639,-0.630679,1.235817,-0.857403,0.573733,-0.041413,1.367765